@media (min-width: 1450px) {
}

@media (max-width: 950px) {
  .hero__grid {
    grid-template-columns: 1fr;
  }

  .hero__image-wrapper {
    grid-row: 1;
    justify-self: center;
  }

  .hero__text-container {
    justify-self: center;
    max-width: 50rem;
  }

  .hero__heading {
    text-align: center;
  }

  .hero__heading-text {
    margin-bottom: 4rem;
  }

  .hero__subheading {
    text-align: center;
    width: 100%;
  }

  .hero__btn {
    margin-left: 0;
    margin: 0 auto;
  }

  .project-box {
    flex-direction: column-reverse;
  }

  .project-box:nth-child(even) {
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .menu__btn {
    display: flex;
  }

  #header {
    display: none;
  }

  #header.show {
    display: inline-block;
  }

  body.show {
    overflow: hidden;
  }

  .header__container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 3rem;
    font-size: 3rem;
  }

  /* .tertiary-heading {
    font-size: 2.8rem;
  } */

  .project__image-wrapper {
    /* width: 36rem; */
    max-width: 100%;
  }
}

@media (max-width: 570px) {
  .tertiary-heading {
    font-size: 2.8rem;
  }

  .project-box__btns {
    flex-direction: column;
    align-items: center;
  }

  .project__btn {
    max-width: none;
    width: 24rem;
  }
}
