:root {
  /* 
 light: #e8f6fb
 med: #5ec0e5
 dark: #1484ae
 reg: #19a5da

 teal #19daad
 blue #1946da
 orange #da4c19
  */
  --color-primary: #19a5da;
  --color-primary-lightest: #e8f6fb;
  --color-primary-med: #5ec0e5;
  --color-primary-dark: #1484ae;

  --color-secondary-light: #d1daf8;
  --color-secondary-med: #1946da;
  --color-secondary-dark: #123199;

  --color-secondary-light2: #eda68c;
  --color-secondary-med2: #da4c19;
  --color-secondary-dark2: #ae3d14;

  --color-secondary-light3: #e8fbf7;
  --color-secondary-med3: #19daad;
  --color-secondary-dark3: #129979;
  --color-secondary-darker3: #074134;

  --color-light-gray: #999;
  --color-med-gray: #666;
  --color-dark-gray: #333;
  --color-darkest-gray: #222;
  --color-white: #fff;

  --mar-bot-small: 0.8rem;
  --mar-bot-med: 2.4rem;

  --section-padding: 6rem;

  --transition-4: all 0.4s;
  --transition-6: all 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-dark-gray);

  padding-bottom: 20rem;
}

/* ******* General ******* */

.primary-heading {
  font-size: 6rem;
}

.secondary-heading {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: var(--color-secondary-darker3);
}

.tertiary-heading {
  font-size: 3.2rem;
}

.sub-heading {
  font-size: 2.4rem;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.2s linear;
}

.btn-secondary {
  border: 2px solid var(--color-secondary-dark3);
  background-color: var(--color-secondary-light3);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-dark3);
  color: var(--color-white);
}

/* ******* Utils ******* */

.center-section {
  max-width: 120rem;
  margin: 0 auto;
}

/* ******* Header ******* */
#header {
  height: 6.8rem;
}

.header__container {
  background-color: var(--color-white);
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.075);
  transition: all 0.2s linear;
}

.header-shrink {
  padding: 1rem 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.075);
}

.nav {
  margin: 0 auto;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__icon-container {
  display: flex;
  gap: 3rem;
}

.nav__icon {
  width: 3.6rem;
  height: 3.6rem;
  opacity: 0.6;
  transition: all 0.2s linear;
}

.nav__icon:hover {
  opacity: 1;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

.nav__list-item:last-child {
  border: 2px solid var(--color-primary-med);
  padding: 0.6rem 2rem;
  border-radius: 5px;
}

.btn__nav--text {
  font-size: 2rem;
}

/* ******* Landing ******* */
#landing {
  height: 80vh;
  /* background-color: var(--color-primary-lightest); */
}

#landing:before {
  z-index: -99;
  content: '';
  position: absolute;
  top: -120rem;
  left: 0;
  height: 200rem;
  width: 100vw;
  transform: skewY(30deg);
  background-color: var(--color-primary-lightest);
}

#landing:after {
  z-index: -120;
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  height: 100rem;
  width: 100vw;
  transform: skewY(30deg);
  background-color: var(--color-primary);
}

.landing__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  gap: 6.4rem;
  padding-top: 8rem;
  position: relative;
}

.landing__heading-text {
  color: var(--color-secondary-darker3);
}

.sub-heading {
}

/* ******* About ******* */
#about {
  height: 80vh;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--color-white);
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__image-wrapper {
  width: 50%;
  position: relative;

  /* background-color: var(--color-primary-light); */
}

/* .about__image-wrapper:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: #732dff;
  height: 20rem;
  width: 20rem;
} */

.about__image {
  width: 100%;
  border: 2px solid #19a5da;
  border-radius: 50%;
  background-color: var(--color-white);
}

/* ******* Projects ******* */
#projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--color-primary-lightest);
}

.projects__heading {
  margin-bottom: var(--mar-bot-small);
}

.project-boxes__container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.project__box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.075);
  background-color: var(--color-white);
  padding: 6rem;
}

.project-description {
  font-size: 1.8rem;
  margin-bottom: var(--mar-bot-med);
}

.project__icon-container {
  display: flex;
  gap: 2rem;
}

.project-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.project__box__links {
  display: flex;
  gap: 1.2rem;
}

.project__btn {
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 0.8rem 2rem;
}

.project__img__wrapper {
  height: 100%;
  /* width: 75%; */
}

.project__img {
  width: 75%;
}

/* ******* Contact ******* */
#contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact__container {
  padding-bottom: 4.8rem;
}

/* ******* Footer ******* */
.footer__container {
  background-color: var(--color-primary-med);
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.footer__link {
  font-size: 1.6rem;
}
