:root {
  /* 
 light: #e8f6fb
 med: #5ec0e5
 dark: #1484ae
 reg: #19a5da

 teal #19daad
 blue #1946da
 orange #da4c19
  */
  --color-primary: #19a5da;
  --color-primary-lightest: #e8f6fb;
  --color-primary-med: #5ec0e5;
  --color-primary-dark: #1484ae;

  --color-secondary-light: #d1daf8;
  --color-secondary-med: #1946da;
  --color-secondary-dark: #123199;

  --color-secondary-light2: #eda68c;
  --color-secondary-med2: #da4c19;
  --color-secondary-dark2: #ae3d14;

  --color-secondary-light3: #e8fbf7;
  --color-secondary: #19daad;
  --color-secondary-med3: #17c49c;
  --color-secondary-dark3: #129979;
  --color-secondary-darker3: #074134;

  --color-light-gray: #999;
  --color-med-gray: #666;
  --color-dark-gray: #333;
  --color-darkest-gray: #222;
  --color-white: #fff;

  --mar-bot-small: 0.8rem;
  --mar-bot-med: 2.4rem;

  --section-padding: 6rem 0;

  --transition-4: all 0.4s;
  --transition-6: all 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-dark-gray);

  padding-bottom: 20rem;
}

/* ******* General ******* */

.primary-heading {
  font-size: 6rem;
}

.secondary-heading {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: var(--color-secondary-darker3);
  margin-bottom: 3.6rem;
}

.tertiary-heading {
  font-size: 3.2rem;
}

.sub-heading {
  font-size: 2.4rem;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.2s linear;
}

.btn-secondary {
  border: 2px solid var(--color-secondary-dark3);
  background-color: var(--color-secondary-light3);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-dark3);
  color: var(--color-white);
}

/* ******* Utils ******* */

.center-section {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 6rem;
}

.hidden {
  opacity: 0;
}

/* ******* Header ******* */
#header {
  height: 6.8rem;
}

.header__container {
  background-color: var(--color-white);
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.075);
  transition: all 0.2s linear;
}

.header-shrink {
  padding: 1rem 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.075);
}

.nav {
  margin: 0 auto;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__icon-container {
  display: flex;
  gap: 3rem;
}

.nav__icon {
  width: 3.6rem;
  height: 3.6rem;
  opacity: 0.6;
  transition: all 0.2s linear;
}

.nav__icon:hover {
  opacity: 1;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

.nav__list-item:last-child {
  border: 2px solid var(--color-primary-med);
  padding: 0.6rem 2rem;
  border-radius: 5px;
}

.btn__nav--text {
  font-size: 2rem;
}

/* ******* Landing ******* */
#landing {
  height: 100vh;
  background-color: var(--color-primary-lightest);
}

.landing__container {
  margin: 0 auto;
  padding-top: 12rem;
  width: fit-content;
}

.landing__heading-text {
  color: var(--color-secondary-darker3);
  text-align: center;
}

.name-heading {
  color: var(--color-secondary-med3);
}

.word-carousel {
  text-align: left;
  overflow: hidden;
  position: relative;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}

.carousel-list-item {
  font-size: 3.6rem;
  color: var(--color-secondary-darker3);
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.carousel-list {
  animation: flip5 15s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}

/* ******* About ******* */
#about {
  height: 80vh;
  padding: var(--section-padding);
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.about__fieldset {
  border: none;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2.6rem;
}

.about__legend {
  padding: 0 0 2rem 1rem;
  font-size: 1.6rem;
}

.about__length-options {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1.4rem;
}

.about__option {
  height: 30px;
  width: 30px;
  position: relative;
}

.about__label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
}

.about__label::before {
  content: '';
  border: 2px solid var(--color-primary-dark);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.about__label::after {
  content: '';
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.about__input:checked + .about__label::after {
  background-color: var(--color-secondary-dark3);
  opacity: 1;
  transition: all 0.4s ease-out;
}

.about__input {
  cursor: pointer;
  opacity: 0;
}

.about__length-text {
  font-size: 1.6rem;
  color: rgba(34, 34, 34, 0.592);
}

.about__length-text:last-child {
  grid-column: 5;
}

.about__text {
  font-size: 1.8rem;
}

/* .about__image-wrapper:before {
  z-index: -3;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: -10%;
  left: 10%;
  border: 8px solid var(--color-primary);
  background-color: var(--color-white);
} */

.about__image-wrapper {
  position: relative;
  width: 400px;
  justify-self: center;
}

.about__image {
  width: 100%;
  border: 2px solid var(--color-secondary-dark3);
  /* border-radius: 12px; */
  /* background-color: var(--color-secondary-light3); */
  background: rgb(94, 192, 229);
  background: linear-gradient(
    0deg,
    rgba(94, 192, 229, 1) 0%,
    rgba(232, 251, 247, 1) 42%
  );
}

/* ******* Skills & Tools ******* */
#skills-tools {
  height: 80vh;
  padding: var(--section-padding);
  background-color: var(--color-secondary-light3);
}

.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.skills__text {
  grid-column: 1 / -1;
}

/* ******* Projects ******* */
#projects {
  padding: var(--section-padding);
  /* background-color: var(--color-primary-lightest); */
}

.projects__heading {
  margin-bottom: var(--mar-bot-small);
}

.project-boxes__container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.project__box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.075);
  background-color: var(--color-white);
  padding: 6rem;
}

.project__box-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-description {
  font-size: 1.8rem;
  /* margin-bottom: var(--mar-bot-med); */
}

.project__icon-container {
  display: flex;
  gap: 2rem;
}

.project-icon {
  width: 4rem;
  height: 4rem;
}

.project__box__links {
  display: flex;
  gap: 2.8rem;
  justify-content: space-around;
}

.project__btn {
  flex: 1;
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  text-align: center;
}

.project__img__wrapper {
  height: 100%;
  /* width: 75%; */
}

.project__img {
  width: 75%;
}

/* ******* Contact ******* */
#contact {
  padding: var(--section-padding);
}

.contact__container {
  padding-bottom: 4.8rem;
}

/* ******* Footer ******* */
.footer__container {
  background-color: var(--color-primary-med);
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.footer__link {
  font-size: 1.6rem;
}
