:root {
  /* 
 light: #e8f6fb
 med: #5ec0e5
 dark: #1484ae
 reg: #19a5da

 teal #19daad
 blue #1946da
 orange #da4c19
  */
  --color-primary: #19a5da;
  --color-primary-lightest: #f1fafd;
  --color-primary-light: #e8f6fb;
  --color-primary-med: #5ec0e5;
  --color-primary-dark: #1484ae;

  --color-secondary-light: #e8fbf7;
  --color-secondary: #19daad;
  --color-secondary-med: #17c49c;
  --color-secondary-dark: #129979;
  --color-secondary-darker: #074134;

  --color-light-gray: #999;
  --color-med-gray: #666;
  --color-dark-gray: #333;
  --color-dark-gray-trans: rgba(34, 34, 34, 0.6);
  --color-darkest-gray: #222;
  --color-black-shadow: rgba(0, 0, 0, 0.075);
  --color-white: #fff;

  --border-radius-5: 5px;
  --border-radius-8: 8px;

  --mar-bot-small: 0.8rem;
  --mar-bot-med: 2.4rem;

  --section-padding: 6rem 0;

  --transition-quick: all 0.1s linear;
  --transition-4: all 0.4s;
  --transition-6: all 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-dark-gray);

  padding-bottom: 20rem;
}

/* ******* General ******* */

.secondary-heading {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  color: var(--color-secondary-darker);
  /* margin-bottom: 3.6rem; */
}

.tertiary-heading {
  font-size: 3.2rem;
}

.sub-heading {
  font-size: 2.4rem;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: var(--transition-quick);
}

.btn-secondary {
  border: 2px solid var(--color-secondary-dark);
  background-color: var(--color-secondary-light);
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.link {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: var(--transition-quick);
}

.link:hover {
  color: var(--color-secondary);
}

/* ******* Utils ******* */

.center-section {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.hidden {
  opacity: 0;
}

.disp-none {
  display: none;
}

/* ******* Header ******* */
#header {
  height: 6.8rem;
}

.header__container {
  background-color: var(--color-white);
  padding: 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0.6rem 1.2rem var(--color-black-shadow);
  transition: all 0.2s linear;
}

.header-shrink {
  padding: 1rem 0;
  box-shadow: 0 1.2rem 3.2rem var(--color-black-shadow);
}

.nav {
  margin: 0 auto;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo-link {
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8rem;
  font-size: 2rem;
}

.nav__list-item:last-child {
  cursor: pointer;
  color: #fff;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-8);
  padding: 0.6rem 2rem;
  transition: var(--transition-quick);
}

.nav__list-item:last-child:hover {
  color: var(--color-secondary-dark);
  background-color: var(--color-secondary-light);
}

/* ******* hero ******* */
#hero {
  padding: 8rem 0;
  background-color: var(--color-primary-lightest);
}

.hero__container {
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

.hero__dots-mid,
.hero__dots-bot {
  position: absolute;
  opacity: 0.6;
  width: auto;
  height: 120px;
}

.hero__dots-mid {
  top: 10%;
  right: 0;
}

.hero__dots-bot {
  bottom: 0;
  right: 25%;
}

.hero__background-circle-sm,
.hero__background-circle-md,
.hero__background-circle-lg {
  position: absolute;
  opacity: 0.4;
}

.hero__background-circle-sm {
  top: -20%;
  left: 30%;
  height: 80px;
  width: auto;
}

.hero__background-circle-md {
  bottom: 3%;
  left: 35%;
  height: 120px;
  width: auto;
}

.hero__background-circle-lg {
  bottom: -25%;
  left: -10%;
  height: 200px;
  width: auto;
}

.hero__grid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 4rem;
  align-items: center;
}

.hero__text-container {
}

.hero__heading-text {
  color: var(--color-secondary-darker);
}

.hero__heading {
  font-size: 5rem;
}

.hero__span {
  color: var(--color-secondary);
}

.hero__subheading {
  font-size: 1.6rem;
  width: 90%;
}

.hero-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  background-color: var(--color-secondary);
  padding: 0.8rem 4rem;
  border-radius: var(--border-radius-8);
  transition: var(--transition-quick);
  display: inline-block;
  margin-top: 3rem;
  margin-left: 1rem;
}

.hero-link:hover {
  background-color: var(--color-secondary-med);
}

.hero__image-wrapper {
  width: 400px;
}

.hero__image {
  width: 100%;
  border-radius: 50%;
  background: rgb(140, 250, 224);
  background: linear-gradient(
    180deg,
    rgba(140, 250, 224, 1) 0%,
    rgba(101, 215, 189, 1) 52%,
    rgba(84, 182, 219, 1) 100%
  );
}

/* ******* Skills & Tools ******* */
#skills-tools {
  padding: var(--section-padding);
}

.skills-tools__heading {
}

.skill__selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 2.6rem;
}

.skills__text {
  font-size: 1.6rem;
}

.skills__lists-container {
}

.skills__list,
.skills__list-item,
.list-util,
.sub-list,
.sub-list-item {
  transition: all 0.25s ease-in-out;
}

.skills__list,
.skills__list-item {
  animation: flipdown 0.5s ease both;
}

.skills__list {
  list-style: none;
}

.skills__list-heading {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  background-color: var(--color-secondary);
  width: 100%;
  display: block;
  padding: 1rem;
}

.skills__list-item {
  position: relative;
  border-top: 1px solid var(--color-light-gray);
}

.skills__list-item:nth-child(1) {
  animation-delay: 0.5s;
}

.skills__list-item:nth-child(2) {
  animation-delay: 0.75s;
}

.skills__list-item:nth-child(3) {
  animation-delay: 1s;
}

.list-util {
  position: absolute;
}

.skills__list-checkbox {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.skills__list-checkbox:checked ~ ul {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.sub-list {
  list-style: none;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
  background-color: #5ec0e5;
}

.sub-list-item {
  font-size: 1.6rem;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
/* ******* About ******* */
#about {
  padding: var(--section-padding);
  background-color: var(--color-primary-lightest);
}

.about__heading {
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.about__length-control {
  margin-bottom: 2.6rem;
}

.about__fieldset {
  border: none;
  max-width: 40rem;
  margin: 0 auto;
}

.about__legend {
  padding: 0 0 2rem 1rem;
  font-size: 1.6rem;
}

.about__length-options {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1.4rem;
}

.about__option {
  height: 30px;
  width: 30px;
  position: relative;
}

.about__label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
}

.about__label::before {
  content: '';
  border: 2px solid var(--color-primary-dark);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.about__label::after {
  content: '';
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.about__input:checked + .about__label::after {
  background-color: var(--color-secondary-dark);
  opacity: 1;
  transition: all 0.4s ease-out;
}

.about__input {
  cursor: pointer;
  opacity: 0;
}

.about__length-text {
  font-size: 1.6rem;
  color: var(--color-dark-gray-trans);
}

.about__length-text:last-child {
  grid-column: 5;
}

.about__text {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.about__icon-container {
  justify-content: center;
  display: flex;
  gap: 5rem;
}

.about__icon-link {
  background-color: var(--color-primary);
  width: 6rem;
  height: 6rem;
  padding: 1.2rem;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s linear;
}

.about__icon-link:hover {
  background-color: var(--color-primary-med);
  opacity: 0.9;
}

.about__icon {
  font-size: 3.6rem;
  color: var(--color-white);
}

.about__image-wrapper {
  position: relative;
  width: 400px;
  justify-self: center;
}

.about__image {
  width: 100%;
  border-radius: 50%;
  /* background-color: var(--color-secondary-light); */
  background: rgb(94, 192, 229);
  background: linear-gradient(
    0deg,
    rgba(94, 192, 229, 1) 0%,
    rgba(232, 251, 247, 1) 42%
  );
}

/* ******* Projects ******* */
#projects {
  padding: var(--section-padding);
  /* background-color: var(--color-primary-lightest); */
}

.projects__heading {
  margin-bottom: var(--mar-bot-small);
}

.project-boxes__container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.project__box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.075);
  background-color: var(--color-white);
  padding: 6rem;
}

.project__box-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-description {
  font-size: 1.8rem;
  /* margin-bottom: var(--mar-bot-med); */
}

.project__icon-container {
  display: flex;
  gap: 2rem;
}

.project-icon {
  width: 4rem;
  height: 4rem;
}

.project__box__links {
  display: flex;
  gap: 2.8rem;
  justify-content: space-around;
}

.project__btn {
  flex: 1;
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  text-align: center;
}

.project__img__wrapper {
  height: 100%;
  /* width: 75%; */
}

.project__img {
  width: 75%;
}

/* ******* Contact ******* */
#contact {
  background-color: var(--color-primary-lightest);
  padding: var(--section-padding);
}

.contact__form-heading {
  text-align: center;
  font-size: 2.2rem;
}

.contact__container {
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 6rem;
  max-width: 80rem;
  margin: 0 auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__label {
}

.contact__input {
  display: inline-block;
  width: 100%;
  padding: 0.6rem;
  border: 2px solid var(--color-secondary-dark);
  border-radius: var(--border-radius-5);
  font-style: inherit;
}

.contact__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-secondary);
}

.contact__textarea {
  resize: none;
  font-style: inherit;
}

.contact__links-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__links-wrapper {
  display: flex;
  gap: 2rem;
}

.contact__link {
  text-align: center;
  flex: 1;
  color: #fff;
  background-color: var(--color-secondary);
  padding: 0.6rem 2rem;
  border-radius: var(--border-radius-5);
}

/* ******* Footer ******* */
.footer__container {
  background-color: var(--color-primary-med);
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.footer__link {
  font-size: 1.6rem;
}
